    <folder-upload></folder-upload>
    <div style="padding: 20px; height: 100%; box-sizing: border-box;">
        <mat-card style="height: 100%; box-sizing: border-box; padding:0">
            <button (click) = "onShow()">Show</button>
            <br>
        <router-outlet name="directory"></router-outlet>
        
            <app-directory [fileElements]="fileElements | async" [path]="currentPath" [canNavigateUp]="canNavigateUp"
            (folderAdded)="addFolder($event)" (elementRemoved)="removeElement($event)" (fileAdded)="addFile($event)"
            (navigatedDown)="navigateToFolder($event)" (navigatedUp)="navigateUp()" (elementRenamed)="renameElement($event)"
            (elementMoved)="moveElement($event)" ></app-directory>
            
    </mat-card>
<router-outlet name="editor" ></router-outlet>
</div>
<!-- <app-editor></app-editor> -->