.card {
    min-width: 400px;
    width:100%;
    padding-top : 10px;
  }
  
  .card {
    background-size: cover;
  }
  .mat-button{
    padding-right: 60px;
    background-color: cornflowerblue;
  }