<mat-card>
  <mat-card-content>
    <h3>Challenge Title : {{detail.challengeTitle}}</h3>
  </mat-card-content>
</mat-card>
<div *ngIf="detail.testCase">
  <app-test-cases></app-test-cases>
</div>
<mat-card>
  <mat-card-content>
    <h3>Score : {{value}} / {{detail.maxScore}}</h3>
    <mat-progress-bar mode="determinate" [value]="score"></mat-progress-bar>
  </mat-card-content>
</mat-card>
<app-feedback [detail]="detail"></app-feedback>
<mat-card>
  <mat-card-content>
    <button mat-button color="warn" (click)="retry()">
      <mat-icon>replay</mat-icon> Retry
    </button>
    <button mat-button color="primary" (click)="home()">
      <mat-icon>arrow_back</mat-icon> Go Back Home
    </button>
  </mat-card-content>
</mat-card>