.search-drop-down {
    position: absolute;
    /* width: 50%; */
    width :100%;
    max-height: 300px;
    overflow-y: auto;
    z-index: 10;
    background-color: #F6F6F6;
    font-family: sans-serif;
    opacity: 0.98;
}
.search-bar {
    min-width: 348px;
    text-indent: 30px;
    box-sizing: border-box;
}
.search-results {
    padding: 10px;
}

.search-results:hover {
    background: #707070;
}