.card {
    min-width: 400px;
    width:100%;
    padding-top : 10px;
    
  }
  
  .card {
   /* // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
    background-size: cover;
    
  }
  .mat-button{
    padding-right: 60px;
    background-color: cornflowerblue;
  }
.max_score{
    text-align: right;
}
.mat-button{
    padding-right: 60px;
    background-color: cornflowerblue;
  }
.tp{
    display: inline-flex;
}
 h4{
    text-align: right;
    /* padding-left: 150vh; */
 }
 .description{
     text-align: justify;
     
     
     /* justify-content: space-evenly; */
     
 }

 h1{
    font-family:  Helvetica;
     /* color:red; */
 }



