

  

<!-- <div class="max_score" >
    <p>Max score:{{completechallenge.maxScore}}</p>
    
  </div> -->
  <!-- <div class="tp">
  <h1>TOPIC: {{completechallenge.topic}}  </h1>
  <h4>Max score:{{completechallenge.maxScore}}</h4>
</div> -->

<div class="topic">
  <div layout="row" layout-sm="column">
    <div >
        <h1>Topic: {{completechallenge1.topic}}  </h1>
    </div>
    <div >
        <h4>Max score:{{completechallenge1.maxScore}}</h4>
    </div>
  </div>
</div>

    
   
  
  
  
<div class="card col-md-12" >
  <div class="card-block">
      
             <div class="description">
               
             <div><h3>Complete Description : </h3><br>
               {{completechallenge1.challengeStatement}}</div><br>
            
          </div>
            
          
              <div><h3>Constraint:</h3><br>
                {{completechallenge1.constraints}}</div><br>
              
          
                      <div><h3>Input format:</h3>
                <br>{{completechallenge1.inputFormat}}</div><br>
             
        
       
     
             <div><h3>Output format:</h3><br>
              {{completechallenge1.outputFormat}}</div><br>
    
            
            
             
             </div>
             </div>

            
           
           <!-- <mat-card-actions> -->
            
