.container1, .row {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
}

.structure {
  overflow-y: scroll
}

/* .structure   {
    margin: 0;
  padding: 0;
  width: 20%;
  height: 90vh;
  overflow-y: scroll;
}

.editor {
    margin: 0;
  padding: 0;
  width: 80%;
} */

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.outer{
  width: 100%;
  padding: 1em;
}
