.container, .row {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100vw;
}

.structure   {
    margin: 0;
  padding: 0;
  max-width: 20vw;
  height: 90vh;
  overflow-y: scroll;
}

.editor {
    margin: 0;
  padding: 0;
  width: 70vw;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
