<!-- <nav class="navbar navbar-dark bg-dark mb-5">
  
  <div class="navbar-expand mr-auto">
     <div class="navbar-nav">
      
    </div> 
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">

          
      <p><a [routerLink]="['/register']" class="btn btn-outline-success my-2 my-sm-0" >Sign Up</a>
      </p>
      <p><a [routerLink]="['/login']"class="btn btn-outline-success my-2 my-sm-0">Sign In</a></p>
       
    </div>
  </div>
</nav> -->
<header>
  <app-login></app-login></header>
 <div class="jumbotron">
  <div class="container">
  <app-register></app-register>
 </div>
 </div>